%h1 Get a PDF from a .pages document
%p Give us a link to a .pages document, you'll get the PDF version back, if we can find it.

= form_tag "/pages/download" do
  = label_tag "URL"
  = text_field_tag :url

  = submit_tag

